.glassy-text-area {
	text-area-background: rgba(103, 125, 224, 0.6);
    -fx-background-insets: 5;
    -fx-text-fill: black; 
    -fx-font-size: 20px;
}

.glassy-text-area .content{
	-fx-background-color: text-area-background;
	
}